@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --second-color: #A05134;
    --first-color: #F6DAB4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(68, 51, 39);
}

.alert {
    position: fixed;
    padding: 15px;
    font-family: 'DM Sans', sans-serif;
    background: rgb(241, 187, 187);
    border-left: 2px solid red;
    margin: 10px;
    opacity: 0;
    transition: .4s;
}

.history {
    position: absolute;
    width: 300px;
    height: 90vh;
    background-color: rgb(71, 71, 70);
    margin: auto;
    right: 20px;
    border-radius: 10px;
    top: 0;
    bottom: 0;
}

.moves {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(60, 66, 60, 0.075);
    display: flex;
}

.side {
    position: relative;
    width: 30%;
    height: 100%;
}

.side li {
    list-style: none;
    width: 65px;
    background: rgba(0, 0, 0, 0.288);
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    border-bottom: 3px solid rgba(0, 0, 0, 0.582);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.side img {
    width: 30px;
    margin-right: 5px;
    margin-left: 2px;
}

.side span {

}

#chessboard {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: black;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#chessboard .cb-row {
    position: relative;
    width: 100%;
    height: calc(100%/8);
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#chessboard .cb-cell {
    position: relative;
    width: calc(100%/8);
    transition: .4s;
    height: calc(500px/8);
    /* border: 1px solid rgb(119, 118, 118) */
}

.second-color {
    background: var(--second-color);
}

.first-color {
    background: var(--first-color);
}

.second-color:nth-child(2n+1) {
    background-color: var(--first-color);
}

.first-color:nth-child(2n+1)  {
    background-color: var(--second-color);
}

.letter {
    position: absolute;
    background: white;
    padding: 8px;
    top: 0;
    left: 0;
    border: 1px solid black;
    opacity: 0;
}

.piece {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 90%;
    height: 90%;
    cursor: pointer;
    transition: .2s;
    /* background: rgba(255, 0, 0, 0.562); */
}

.piece:hover {
    background: rgba(156, 155, 150, 0.705);
}

.selected {
    background: rgba(179, 152, 3, 0.705);
}

.piece img {
    position: absolute;
    width: 50px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

